<div class="container">
  <div class="row">
    <div class="col-12">
      <% if @recipe.errors.any? %>
        <%= @recipe.errors.count %>件のエラーが発生しました
    <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
<% end %>
      <h2 class="py-5">レシピ編集</h2>
        <%= form_with model: @recipe, url: recipe_path(@recipe.id), local: true, method: :patch do |f| %>
          <div class="pt-1">
            <h4>料理名</h4>
            <%= f.text_field :title, :placeholder => "＊必須" ,size: "50x10" %>
            <h4 class="pt-3">画像(必須)</h4>
            <%= f.file_field :image, accept: "image/*" %>
            <h4 class="pt-3">材料</h4>
            <%= f.text_area :ingredients, :placeholder => "＊必須" ,size: "130x6" %>
            <h4 class="pt-3">作り方</h4>
            <%= f.text_area :body, :placeholder => "＊必須" ,size: "130x8" %>
            <p class="py-4"><%= f.submit 'レシピを作成', class: 'btn btn-primary' %></p>
          </div>
        <% end %>
    </div>
  </div>
</div>