<div class="container">
  <div class="row">
      <h1 class="py-4">レシピ作成</h1>

      <%= form_with(model: @recipe, method: :post, local: true) do |f| %>
        <div class"pt-3">
          <h4>料理名</h4>
          <%= f.text_field :title,size: "50x10" %>
        </div>
          <h4 class="pt-3">画像登録</h4>
          <%= f.file_field :image, accept: "image/*" %>

        <h4 class="pt-3">材料</h4>
        <%= f.text_area :ingredients,size: "130x6" %>

        <h4 class="pt-3">作り方</h4>
        <%= f.text_area :body,size: "130x8" %>

        <div class="pt-3"><%= f.submit 'レシピを作成', class: 'btn btn-primary' %>
        </div>
      <% end %>
      <div class="pt-4">
        </div>
  </div>
</div>
