  <div class="container">
    <div class="row">
      <div class="col-sm-5 col-md-6 col-lg-3 pt-2">
          <%= image_tag @recipe.image, size: "250x250" %>
      </div>
      <div class="col-xs-5 col-sm-7 col-md-6 col-lg-6 ">
        <h2 class="text-center px-5 pt-5"><%= @recipe.title %></h2>
        <div class="text-center pt-3">
          <% if @recipe.user == current_user %>
              <%= link_to "編集する", edit_recipe_path, class: 'btn btn-success' %>
              <span>　　</span><%= link_to "削除する", recipe_path(@recipe), method: :delete, class: 'btn btn-danger' %>
          <% end %>
          <div id="recipe_btn_<%= @recipe.id %>">
            <%= render 'public/likes/like', recipe: @recipe %>
          </div>
        </div>
      </div>
      <div class="col-xs-3 col-sm-12 col-md-3 ">
        <h5 class="red-border px-3 pb-2 pt-4">投稿者</h5>
        <%= link_to user_path(@user) do %>
          <%= image_tag @user.get_profile_image, size: "100x100"%>
          <p class="px-1"><%= @user.name %>
        <% end %>
      </div>
    </div>
      <div class="row">
        <div>
          <h5 class="red-border px-3 pb-2 pt-4">材料</h5>
          <p class="ml-5"><%= @recipe.ingredients %></p><br>
          <h5 class="red-border px-3 pb-2">料理手順</h5>
          <p class="ml-5"><%= @recipe.body %></p>
          <p class="text-right pt-3">登録日<%= @recipe.created_at.strftime('%Y/%m/%d') %></p>
        </div>
      </div>
      	<div class="py-4">
      	  <p>コメント件数：<%= @recipe.recipe_comments.count %></p>
      	  <%= form_with model: [@recipe, @recipe_comment] do |f| %>
          <%= f.text_area :comment, rows: '3', placeholder: "コメント" %>
          <%= f.submit "コメントする" %>
        <% end %>

        </div>
      <div class="col-xs-6 col-md-12 col-lg-12">
        <table>
          <tbody>
            <% @recipe.recipe_comments.each do |recipe_comment| %>
              <tr>
                <td><p class="pt-3 px-4"><%= image_tag recipe_comment.user.profile_image, size: "100x100" %></p>
                <%= recipe_comment.user.name %></td>
                <td class="px-4"><%= recipe_comment.comment %><td>
                <% if recipe_comment.user == current_user %>
                  <%= link_to "削除", recipe_recipe_comment_path(recipe_comment.recipe_id, recipe_comment.id), method: :delete %>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

