<div class="container">
  <div class="row">
    <div class="col-3 py-4">
      <%= image_tag @user.get_profile_image, size: "250x230"%>
    </div>
    <div class="col-9 py-4">
        <div class="text-right pt-3">
          <%= link_to "退会する", admin_confirm_unsubscribe_path(@user.id), class: 'btn btn-danger' %>
        </div>
      <h4 class="profile-name pl-5">ユーザ名<br><p></p><span>　　</span><%= @user.name %></h4>
      <h4 class="profile-introduction pl-5 pt-4">紹介<br><p></p><span>　　</span><%= @user.introduction %></h4>
    </div>
  </div>
  <div class="row py-4">
    <% @recipes.each do |recipe| %>
		  <div class="col-xs-3 py-4 px-5">
		 	  <%= link_to admin_recipe_path(recipe) do %>
     		<% if recipe.image.attached? %>
          <%= image_tag recipe.image, size: "200x200" %><br>
        <% else %>
          <%= image_tag 'no_image', size: "200x200" %><br>
        <% end %>
        <%= recipe.title %>
			<% end %>
		</div>
		<% end %>
	</div>
  </div>
</div>
