<div class="container">
  <div class="row">
    <div class="col-3">
      <%= image_tag @user.get_profile_image, size: "250x230"%>
    </div>
    <div class="col-9">
      <% if @user.id == current_user.id %>
        <div class="text-right pt-3"><%= link_to "編集する", edit_user_path(@user), class: 'btn btn-success' %>
          <span>　　</span><%= link_to "退会する", confirm_unsubscribe_path(@user.id), class: 'btn btn-danger' %>
        </div>
      <% end %>
      <h4 class="profile-name pl-5">ユーザ名<br><p></p><span>　　</span><%= @user.name %></h4>
      <h4 class="profile-introduction pl-5 pt-4">紹介<br><p></p><span>　　</span><%= @user.introduction %></h4>
    </div>
  </div>
  <div class="row py-4">
    <% @recipes.each do |recipe| %>
		  <div class="col-xs-3 py-4">
		 	  <%= link_to recipe_path(recipe) do %>
     		<% if recipe.image.attached? %>
          <%= image_tag recipe.image, size: "200x200" %><br>
        <% else %>
          <%= image_tag 'no_image', size: "200x200" %><br>
        <% end %>
        <%= recipe.title %>
			<% end %>
		</div>
		<% end %>
	</div>
  </div>
</div>
