<div class="container">
  <div class="row">
    <div class="col-3">
      <%= image_tag @user.get_profile_image, size: "250x230"%>
    </div>
    <div class="col-9">
      <% if @user.id == current_user.id %>
      <p class="text-right pt-3"><%= link_to "編集する", edit_user_path(@user) %></p>
      <p class="text-right pt-3"><%= link_to "退会する", confirm_unsubscribe_path(@user.id) %></p>
      <% end %>
      <h4 class="profile-name pl-5">ユーザ名<br><p></p><span>　　</span><%= @user.name %></h4>
      <h4 class="profile-introduction pl-5 pt-4">紹介<br><p></p><span>　　</span><%= @user.introduction %></h4>
    </div>
  </div>
  <div class="row">
    <% @recipes.each do |recipe| %>
		  <div class="col-xs-3">
		 	  <%= link_to recipe_path(recipe) do %>
			    <%= recipe.title %><br>
     		<% if recipe.image.attached? %>
          <%= image_tag recipe.image, size: "200x200" %>
        <% else %>
          <%= image_tag 'no_image', size: "200x200" %>
        <% end %>
			<% end %>
		</div>
		<% end %>
	</div>
  </div>
</div>
